<div class="jumbotron mt-4">
    <h1 class="display-4">¿Quiénes Somos?</h1>

    <p class="lead">
        Somos una empresa dedicada a la realización de viajes entre Estados Unidos y México, que le apasiona lo que
        hace. Nuestro principal objetivo es brindarle a nuestros clientes la mejor atención y que la calidad de sus
        viajes sea lo más cómodo posible. Estamos comprometidos con nuestros pasajeros para que puedan llegar seguros a
        su destino y lo más pronto posible, siempre siendo precabidos y respetando todas las normas establecidas.
    </p>
</div>